/* Sass file containing all global styles */
body {
  font-family: 'Arial', SansSerif;
}

input {
  border: 1px solid #111;
  border-radius: 3px !important;

  &:read-only {
    border: none;
  }
}

input[type="submit"],
input[type="button"] {
  &.short {
    padding: 4px 8px;
  }
}

select {
  border-radius: 3px !important;
  &:disabled {
    border: none;
  }
}

table {
  border-collapse: collapse;
}

thead td {
  padding: 4px;
  text-align: left;
  font-size: 10pt;
  background-color: #999999;
  color: #fff;
}

tbody tr {
  border-bottom: 1px solid #999;

  &.selected {
    background-color: #cccccc !important;
    font-weight: bold;
  }
}

tbody tr:hover {
  background-color: #dddddd;
  color: #000000;
  cursor: pointer !important;
  a {
    color: #000000;
  }
}

tbody td {
  padding: 4px;
  vertical-align: top;
  text-align: left;
  font-size: 9pt;
}

.container {
  padding-bottom: 64px;
}

.content {
  text-align: center;
  display: inline-block;
}

.emphasize {
  font-weight: bold;
  color: #a94442 !important;
}

.form-group {
  input,
  select {
    margin: 2px;
  }
  select {
    height: 27px;
  }
}

.title {
  font-size: 12px;
}

.main-nav {
  padding: 0;
  margin-bottom: 32px;
}

.show-sm-up {
  @extend .hidden-xs;
  @extend .hidden-sm;
}

.show-lg-up {
  @extend .hidden-xs;
  @extend .hidden-sm;
  @extend .hidden-md;
}

/* jQuery DataTable overrides */

table.dataTable {
  thead td {
    padding-left: 8px;
    padding-right: 14px;
  }

  td.filterable {
    padding-left: 0;
    padding-right: 14px;

    select {
      color: #111 !important;
    }
  }
  tbody {
    td {
      padding: 4px;
      vertical-align: top;
      border-bottom: 1px solid #999 !important;
      &.nobr {
        white-space: nowrap;
      }
      &.right {
        text-align: right;
      }
      &.red,
      &.unpaid {
        color: #ff0000;
      }
    }
    tr {
      &:hover {
        vertical-align: top;
        background-color: #dddddd;
        color: #000000;
        cursor: pointer !important;
        a {
          color: #000000;
        }
      }
    }
  }
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.dataTables_filter {
  input {
    padding: 0 5px;
    border: 1pt solid #111;
  }
}

.panel-default >.panel-heading {
  color: #ffffff;
  background-color: #337ab7 !important;
}