.invoice-header {
  margin-bottom: 16px;
  text-align: left;

  .client-address {
    padding: 20px;
    padding-top: 10px;
    border: 1px solid #111;
    font-weight: bold;

    .attn {
      margin-top: 8px;
    }
  }
}

.invoice-lineitems {
  table {
    width: 100%;
  }
}

.client-modal {
  margin: auto 30px;
}

#edit_client {
  cursor: pointer;

  i {
    font-size: 24px;
    color: $control-blue;
  }
}

#select_client_list {
  width: 100% !important;
}

div[data-datetype] {
  position: relative;

  input {
    position: relative;
    display: none;
    top: -4px;
    left: 11px;
  }
}
